body, html{
    position: relative;
    height:100%;
}
h1{
      font-family: 'Kreon', serif;
  vertical-align:middle;
}

.navbar-nav{
    margin: auto;
}
#sideBarNav{
    margin: auto;
    position: fixed;
    padding-right:10px;
    margin-top:100px;
}
.nopadding{
    margin: 0 !important;
    padding: 0 !important;
    top:-0;
}
#pageData{
margin-top: 100px;
margin-left: 150px;
}

#siteNavBar{
  position: fixed;
  top: 0;
  z-index: 9999;
  height: 100px;
  background-color: lightblue;
}
#text1{

    background-color: white;
    height:100%;
    width:60%;
    position: relative;
    margin:auto;
    top:0;
}
.Banner {
    /* The image used */
    background-image: url('../image/Banner.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Dancer {
    /* The image used */
    background-image: url('../image/Dancers on Beach.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Logo {
    /* The image used */
    background-image: url('../image/logo.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1024px) {
    .Banner {
        background-attachment: scroll;
    }
}

@media (max-width: 767px) {
    #sideBarNav {
        display:none;
    }
}