body, html{
    position: relative;
    height:100%;
    background-image: url('../image/background.jpg'); 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 0;
    padding-right: 0;

    
}
.sideBar{
    padding-left: 15px;
}
.container{

}
.banner{
margin: auto;
    width: 70%;
}

h1{
  font-family: 'Kreon', serif;
  vertical-align:middle;
  text-align: center;
}
p{
    padding:10px;
}
.navbar-nav{
    width:100%;
    position: fixed;
}
.nav-pills{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius:5px;
    vertical-align: center;
    background-color: lightblue;
}

#sideBarNav{
    position: fixed;
    margin-top: 300px;
    z-index: 9999; 
    font-size: 36px;
}

#siteNavBar{
    width: 100%;
    position: fixed;
    opacity: 1;
    z-index: 9999;
}

.img-responsive{
  
}
.nopadding{
    margin: 0 !important;
    padding: 0 !important;
    top:-0;
}
#pageData{

    margin-top: 50px;
    margin-left: 0;
}


#text1{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;

    background-color: white;
    height:100%;
    width:60%;
    position: relative;
    margin-bottom: -20px;
    margin-left: auto;
    margin-right: auto;
    
    top:0;
}
#text2{

    background-color: white;
    height:100%;
    width:60%;
    position: relative;
    margin-bottom: -20px;
    margin-left: auto;
    margin-right: auto;
    
    top:0;
}
#text3{
    border-bottom-right-radius: 25px;
    border-bottom-left-radius:25px;
    background-color: white;
    height:100%;
    width:60%;
    position: relative;

    margin-left: auto;
    margin-right: auto;
    
    top:0;
}
.Ban {
    /* The image used */
    background-image: url('../image/Banner.jpg');
    /* Full height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Dancer {
    /* The image used */
    background-image: url('../image/Dancers on Beach.jpg');
    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Logo {
    /* The image used */
    background-image: url('../image/logo.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */


@media (max-width: 767px) {
    #siteNavBar{

    }
    #sideBarNav {
        display:none;
        position:absolute;
    }
    .Ban{
        background-image: none;
        background-attachment: scroll !important;
        background-position: center !important; 
    }
    .Logo{
        background-image: none;
        background-attachment: scroll !important;
        background-position: center !important;   
    }
    .Dancer{
        background-image: none;
        background-attachment: scroll !important;
        background-position: center !important;   
    }
    #text1{
        width:100%;
        display:inline-block;
    }
    #text2{
        width:100%;
        display:inline-block;
    }
    #text3{
        width:100%;
        display:inline-block;
    }
    #pageData{
        margin-top: 50px;
        margin:15px;


    }

}