body, html{
    position: relative;
    height:100%;
    background-image: url('../image/Hogsback sunburst.jpg'); 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 0;
    padding-right: 0;
}

h1{
  font-family: 'Kreon', serif;
  vertical-align:middle;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

p{
    padding:10px;
}

.nopadding{
    margin: 0 !important;
    padding: 0 !important;
    top:-0;
}

.sideBar{
    padding-left: 15px;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #cccccc;
  border-radius: 1px;
}


.navbar-nav{
    width: 100%;
}

#navText{    
width: 100%;
}

.nav-pills{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius:5px;
    padding:0;
    vertical-align: center;
    background-color: lightblue;
}

#siteNavBar{
    font-family: 'Carter One', cursive;
    width: 60%;
    position: fixed;
    opacity: 1;
    z-index: 9999;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#sideBarNav{
    font-family: 'Carter One', cursive;
    position: fixed;
    margin-top: 75px;
    z-index: 9999; 
    font-size: 12px;
margin-left: 20px;
}
.logo{
    width: 120px;
}

/* Carousel code start*/
#banner{
z-index: 1;

    opacity: 1;
    margin-left:0 auto;
    margin-right:0 auto;
    width: 100%;
    height: 300px;
  position: absolute;

}

.carousel-control.right {
    background-image: none;
}
.carousel-control.left {
    background-image: none;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    z-index: 1;

    opacity: 1;
    margin-left:0 auto;
    margin-right:0 auto;
    width: 100%;
    height: 300px;
}
/* Carousel code end*/

#pageData{
    padding-top: 50px;
    margin-top: 50px;
}



#text1{
    z-index: 2;
    background-image: url('../image/Hogsback.jpg');
    /* Full height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;

    background-color: white;
    height:100%;
    width:60%;
    position: relative;
    margin-bottom: -20px;
    margin-left: auto;
    margin-right: auto;
    
    top:0;
}
#text2{
    background-image: url('../image/_JAZ0756  25.jpg');
    /* Full height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    height:100%;
    width:60%;
    position: relative;
    margin-bottom: -20px;
    margin-left: auto;
    margin-right: auto;
    
    top:0;
}
#text3{
    background-image: url('../image/198301 CQ-1008 Boulder Pt Hogsback 25.jpg');
    /* Full height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    height:100%;
    width:60%;
    position: relative;
    margin-bottom: -20px;
    margin-left: auto;
    margin-right: auto;
    
    top:0;
}
#text4{
    background-image: url('../image/198812-74 Hogsback haze 25.jpg');
    /* Full height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    height:100%;
    width:60%;
    position: relative;
    margin-bottom: -20px;
    margin-left: auto;
    margin-right: auto;
    
    top:0;
}
#text5{
    background-image: url('../image/201301 _JAX1579 Cape Elizabeth 25.jpg');
    /* Full height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    height:100%;
    width:60%;
    position: relative;
    margin-bottom: -20px;
    margin-left: auto;
    margin-right: auto;
    
    top:0;
}
#text6{
    background-image: url('../image/199812-041 Hogsback sunburst 25.jpg');
    /* Full height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius:25px;
    background-color: white;
    height:100%;
    width:60%;
    position: relative;

    margin-left: auto;
    margin-right: auto;
    
    top:0;
}

/* Mobile Friendly Css */


@media (max-width: 767px) {
    #siteNavBar{
        visibility: hidden;
    }
    #banner{
        visibility: hidden;
    }
    #sideBarNav {
        margin-left:-100%;

    }
    #pageData{
        margin-top:0;
        margin-left:25px;
        margin-right:25px;
    }
    #text1{
        width:100%;
        display:inline-block;
    }
    #text2{
        width:100%;
        display:inline-block;
    }
    #text3{
        width:100%;
        display:inline-block;
    }
    #text4{
        width:100%;
        display:inline-block;
    }
    #text5{
        width:100%;
        display:inline-block;
    }
    #text6{
        width:100%;
        display:inline-block;
    }
    }